
<div class="sidebar">
    <div class="d-flex flex-column">
        <a href="VistaUsuario">
            <mdb-icon fas icon="home" class="prefix black-text"></mdb-icon>
            Página Principal</a>

        <a class="active"  >
            <mdb-icon fas icon="calendar" class="prefix white-text"></mdb-icon>
            Clases</a>

            <button type="button" mdbBtn color="elegant" data-toggle="modalAgregar" data-target="#agregarDispositivoModal" 
                mdbWavesEffect>Buscar Clases</button>
            <button type="button" mdbBtn color="elegant" data-toggle="modalBuscar" data-target="#buscarDipositivoModal"  
                mdbWavesEffect>Registrarse</button>

        <a class="exit" href="#" >
            <mdb-icon fas icon="sign-out-alt" class="prefix black-text"></mdb-icon>
            Cerrar Sesión</a>
    </div>
  </div>