<div class="col-6">
    <div class="container">
      <div class="col align-self-start">
        <form #formregister = "ngForm" (ngSubmit)="goToRegister(formregister)">

          <div class="row">
            <label>Número de Cédula:</label>
            <input type="text" name="numCedula" class="normal" id="InputNumCedula" required="" ngModel>
          </div>
          <div class="row">
            <label>Nombre Completo:</label>
            <input type="text" name="nombre" class="normal" id="InputNombre" required="" ngModel>
          </div>
          <div class="row">
            <label>Edad:</label>
            <input type="text" name="edad" class="normal" id="InputEdad" required=""ngModel>
          </div>
        <div class="row">
          <label>Fecha Nacimiento:</label>
          <input type="text" name="fechaNacimiento" class="normal" id="InputEdad" required=""ngModel>
        </div>
          <div class="row">
            <label>Peso:</label>
            <input type="text" name="peso" class="normal" id="InputPeso" required="" ngModel>
          </div>
          <div class="row">
            <label>IMC:</label>
            <input type="text" name="IMC" class="normal" id="InputIMC" required="" ngModel>
          </div>
          <div class="row">
            <label>Dirección:</label>
            <input type="text" name="direccion" class="normal" id="InputDireccion" required="" ngModel>
          </div>
          <div class="row">
            <label>Correo Electrónico:</label>
            <input type="email" name="correoElectronico" class="normal" id="InputcorreoElectronico" required="" ngModel>
          </div>
          <div class="row">
            <label>Contraseña:</label>
            <input type="password" name="password" class="normal" id="InputPassword" required="" ngModel>
          </div>

          <div class="row" class = "button">
            <button mdbBtn type="submit" color="blue-grey" mdbWavesEffect >Registrarse</button>
            </div>

            <div class="row" class = "button">
                <button mat-stroked-button type="button" class="btn btn-danger" (click) = "salir()" >Salir</button>
                </div>
        </form>
      </div>
    </div>
  </div>