
 <div class="sidebar">
    <div class="d-flex flex-column">
        <a class="active" >
            <mdb-icon fas icon="home" class="prefix white-text"></mdb-icon>
            Página Principal</a>

        <a href="Verclases" >
            <mdb-icon fas icon="calendar" class="prefix black-text"></mdb-icon>
            Clases</a>


        <a class="exit" href="#" >
            <mdb-icon fas icon="sign-out-alt" class="prefix black-text"></mdb-icon>
            Cerrar Sesión</a>
    </div>
  </div>

  <div class="d-flex flex-nowrap"></div>
  <div *ngFor="let item of res1; let i = index" >
      <div class="modal.show() container" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            
            <div class="modal-header">
             
              <h5 class="modal-title"> <mdb-icon fas icon="user-circle" class="prefix white-text fa-lg"></mdb-icon> {{item.nombre}}</h5>
            </div>
            <div class="modal-body">
 
             <p> <mdb-icon fas icon="at" class="prefix white-text fa-lg" ></mdb-icon> Correo: {{item.correoElectronico}}</p>
              <p><mdb-icon fas icon="id-card" class="prefix white-text fa-lg"></mdb-icon> Número de Cédula: {{item.numCedula}}</p>
              <p> <mdb-icon fas icon="birthday-cake" class="prefix white-text fa-lg"></mdb-icon> Fecha Nacimiento: {{item.fechaNacimiento}}</p>
              <p><mdb-icon fas icon="calendar-alt" class="prefix white-text fa-lg"></mdb-icon> Edad: {{item.edad}}</p>
              <p> <mdb-icon fas icon="dumbbell" class="prefix white-text fa-lg"></mdb-icon> IMC: {{item.IMC}}</p>
              <p> <mdb-icon fas icon="map-marked-alt" class="prefix white-text fa-lg"></mdb-icon> Direccion: {{item.direccion}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

