<div class="sidebar">
    <div class="d-flex flex-column">
        <a href="VistaAdministrador" >
            <mdb-icon fas icon="home" class="prefix black-text"></mdb-icon>
            Página Principal</a>

        <a href="GestionarTratamiento" >
            <mdb-icon fas icon="spa " class="prefix black-text"></mdb-icon>
            Gestionar Tratamiento</a>

        <a class="active">
            <mdb-icon fas icon="clipboard-list" class="prefix white-text"></mdb-icon>
            Gestionar Tipo Planilla</a>
        
            <button type="button" mdbBtn color="elegant" data-toggle="modalAgregar" data-target="#agregarDispositivoModal" 
            (click)="frame2.show()" mdbWavesEffect>Buscar</button>
            <button type="button" mdbBtn color="elegant" data-toggle="modalBuscar" data-target="#buscarDipositivoModal"  
            (click)="frame1.show()" mdbWavesEffect>Agregar</button>
                
        <a href="GestionarTipoEquipo">
            <mdb-icon fas icon="project-diagram" class="prefix black-text"></mdb-icon>
            Gestionar Tipo Equipo</a>   
            
        <a href="GestionarSucursal">
            <mdb-icon fas icon="map-marker-alt" class="prefix black-text"></mdb-icon>
            Gestionar Sucursal</a>
    
        <a href="GestionarServicios">
            <mdb-icon fas icon="tools" class="prefix black-text"></mdb-icon>
            Gestionar Servicios</a>
            
        <a href="GestionarPuestos">
            <mdb-icon fas icon="briefcase" class="prefix black-text"></mdb-icon>
            Gestionar Puestos</a> 

        <a href="GestionarProductos">
            <mdb-icon fas icon="box-open" class="prefix black-text"></mdb-icon>
            Gestionar Productos</a>   
                
        <a href="GestionarInventario">
            <mdb-icon fas icon="dolly" class="prefix black-text"></mdb-icon>
            Gestionar Inventario</a>
        
        <a href="GestionarEmpleados">
            <mdb-icon fas icon="user-cog" class="prefix black-text"></mdb-icon>
            Gestionar Empleados</a>
        
        <a href="GeneracionPlanilla">
            <mdb-icon fas icon="hand-holding-usd" class="prefix black-text"></mdb-icon>
            Generación Planilla</a>

        <a href="ConfigurarGym">
            <mdb-icon fas icon="cogs" class="prefix black-text"></mdb-icon>
            Configurar Gimnasio</a>     
            
        <a class="exit" href="#" >
            <mdb-icon fas icon="sign-out-alt" class="prefix black-text"></mdb-icon>
            Cerrar Sesión</a>
    </div>
  </div>

  <div mdbModal #frame1="mdbModal" class="modal fade top" id="agregarTipoPlanillaModal" tabindex="-1" role="dialog"
  aria-labelledby="agregarTipoPlanillaLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
 <div class="m1">
 <div class="modal-content">
   <div class="modal-header text-center">
     <h4 class="modal-title w-100 font-weight-bold">Agregar Tipo Planilla</h4>
     <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame1.hide()">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
       <div class="modal-body mx-3">
         <form #AgrgarTipoPlanilla = "ngForm" (ngSubmit)="goTo(AgrgarTipoPlanilla)">

         <div class="md-form mb-5">
           <mdb-icon fas icon="barcode" class="prefix white-text"></mdb-icon>
           <input type="text" name="idTipoPlanilla" id="Inputid_TipoPlanilla" class="form-control white-text"
                  mdbInput required="" ngModel>
           <label for="Inputid_TipoPlanilla" class="white-text">Identificador</label>
         </div>

         <div class="md-form mb-5">
           <mdb-icon fas icon="sort-alpha-up" class="prefix white-text"></mdb-icon>
           <input type="text" name="descripcion" id="Inputdescripcion" class="form-control white-text"
                  mdbInput required="" ngModel>
           <label for="Inputdescripcion" class="white-text">Descripción</label>
         </div>

         <div class="md-form mb-5">
            <mdb-icon fas icon="credit-card" class="prefix white-text"></mdb-icon>
            <input type="text" name="pagoMensual" id="InputPagoMensual" class="form-control white-text"
                   mdbInput required="" ngModel>
            <label for="InputPagoMensual" class="white-text">Pago Mensual</label>
          </div>

          <div class="md-form mb-5">
            <mdb-icon fas icon="money-bill" class="prefix white-text"></mdb-icon>
            <input type="text" name="pagoXhora" id="InputPagoHora" class="form-control white-text"
                   mdbInput required="" ngModel>
            <label for="InputPagoHora" class="white-text">Pago por Hora</label>
          </div>

          <div class="md-form mb-5">
            <mdb-icon fas icon="money-bill-alt" class="prefix white-text"></mdb-icon>
            <input type="text" name="pagoXclase" id="InputPagoClase" class="form-control white-text"
                   mdbInput required="" ngModel>
            <label for="InputPagoClase" class="white-text">Pago por Clase</label>
          </div>

         

         <div class="row" class = "button">
           <button type="submit" class="btn elegant" >Enviar</button>
           </div>

         </form>
       </div>
   </div>
 </div>
 </div>
</div>


<div mdbModal #frame2="mdbModal" class="modal fade top" id="buscarTipoPlanillaModal" tabindex="-1" role="dialog"
aria-labelledby="buscarTipoPlanillaModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="m1">
<div class="modal-content">
 <div class="modal-header text-center">
   <h4 class="modal-title w-100 font-weight-bold">Buscar Tipo Planilla</h4>
   <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame2.hide()">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
     <div class="modal-body mx-3">
       <form #BuscarTipoPlanilla = "ngForm" (ngSubmit)="goToBuscar(BuscarTipoPlanilla)">

       <div class="md-form mb-5">
         <mdb-icon fas icon="search" class="prefix white-text"></mdb-icon>
         <input type="text" name="busquedaEnt" id="InputBusquedaEnt" class="form-control white-text"
             required="" ngModel mdbInput>
         <label for="InputBusquedaEnt" class="white-text">Buscar</label>
       </div>
     
       <div class="row" class = "button">
         <button type="submit" class="btn elegant" (click)="frame3.show()" >Buscar</button>
         </div>

       </form>
     </div>
 </div>
</div>
</div>
</div>

<div mdbModal #frame3="mdbModal" class="modal fade top" id="TipoPlantillaBuscadoModal" tabindex="-1" role="dialog"
aria-labelledby="TipoPlantillaBuscadoModal" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="m1">
<div class="modal-content">
 <div class="modal-header text-center">
   <h4 class="modal-title w-100 font-weight-bold">Tipo Planilla Encontrados</h4>
   <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame3.hide()">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div *ngFor="let item of res4; let i = index" >
   <div class="container">
     <div class="col align-self-start">
           
           <p> {{item.idTipoPlanilla}}</p>
           <p> Descripción: {{item.descripcion}}</p>
           <p>Pago Por Mes: {{item.pagoMensual}}</p>
           <p>Pago por Hora: {{item.pagoXhora}}</p>
           <p>Pago por Clase: {{item.pagoXclase}}</p>
           <p> --------------------------</p>
       </div>
     </div>
   </div>
 </div>
</div>
</div>
</div>

<div class="d-flex flex-nowrap"></div>
<div *ngFor="let item of res1; let i = index" >
    <div class="modal.show() container" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title">{{item.idTipoPlanilla}}</h5>
          </div>
          <div class="modal-body">
            <p> Descripción: {{item.descripcion}}</p>
           <p>Pago Por Mes: {{item.pagoMensual}}</p>
           <p>Pago por Hora: {{item.pagoXhora}}</p>
           <p>Pago por Clase: {{item.pagoXclase}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn elegant" (click) = "enviarAEditar(item)" >Editar </button>
            <button type="button" class="btn btn-danger" (click) = "Eliminar_TipoPlanilla(item)"  >Eliminar </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div mdbModal #frameEditar="mdbModal" class="modal fade top" id="EditarTipoPlanillaModal" tabindex="-1" role="dialog"
         aria-labelledby="EditarTipoPlanillaLabel" aria-hidden="true" [ngStyle]="{'display': frameEditarAbrir ? 'block' : 'none', 'opacity': 1}">
      <div class="modal-dialog" role="document">
        <div class="m2">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Editar Tipo Planilla</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="editarTipoPlanillaClose(false)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div class="modal-body mx-3">

                <div *ngFor="let item of PlanillaEditando; let i = index" >

                <form #EditarTipoPlanillaEditado = "ngForm" (ngSubmit)="goToEditar(EditarTipoPlanillaEditado)">
    
                <div class="md-form mb-5">
                  <mdb-icon fas icon="barcode" class="prefix white-text"></mdb-icon>
                  <input type="text" name="idTipoPlanilla" id="InputIdentificador" class="form-control white-text"
                         mdbInput required="" ngModel="{{item.idTipoPlanilla}}">
                  <label for="InputIdentificador" class="white-text">Identificador</label>
                </div>
                
                <div class="md-form mb-5">
                  <mdb-icon fas icon="sort-alpha-up" class="prefix white-text"></mdb-icon>
                  <input type="text" name="descripcion" id="InputDescripcion" class="form-control white-text"
                         mdbInput required="" ngModel="{{item.descripcion}}">
                  <label for="InputDescripcion" class="white-text">Descripción</label>
                </div>

                <div class="md-form mb-5">
                  <mdb-icon fas icon="credit-card" class="prefix white-text"></mdb-icon>
                  <input type="text" name="pagoMensual" id="InputPagoMensualr" class="form-control white-text"
                         mdbInput required="" ngModel="{{item.pagoMensual}}">
                  <label for="InputPagoMensualr" class="white-text">Pago Mensual</label>
                </div>

                <div class="md-form mb-5">
                  <mdb-icon fas icon="money-bill" class="prefix white-text"></mdb-icon>
                  <input type="text" name="pagoXhora" id="InputPagoHoras" class="form-control white-text"
                         mdbInput required="" ngModel="{{item.pagoXhora}}">
                  <label for="InputPagoHoras" class="white-text">Pago por Horas</label>
                </div>

                <div class="md-form mb-5">
                  <mdb-icon fas icon="money-bill-alt" class="prefix white-text"></mdb-icon>
                  <input type="text" name="pagoXclase" id="InputPagoClase" class="form-control white-text"
                         mdbInput required="" ngModel="{{item.pagoXclase}}">
                  <label for="InputPagoClase" class="white-text">Pago por Clase</label>
                </div>

                
  
                <div class="row" class = "button">
                  <button type="submit" class="btn elegant" >Enviar Edición</button>
                  </div>
                </form>
              </div>
              </div>
          </div>
        </div>
        </div>
      </div>



