<div class="sidebar">
    <div class="d-flex flex-column">
        <a class="active" >
            <mdb-icon fas icon="home" class="prefix white-text"></mdb-icon>
            Página Principal</a>

        <a href="GestionarTratamiento">
            <mdb-icon fas icon="spa " class="prefix black-text"></mdb-icon>
            Gestionar Tratamiento</a>

        <a href="GestionarTipoPlanilla">
            <mdb-icon fas icon="clipboard-list" class="prefix black-text"></mdb-icon>
            Gestionar Tipo Planilla</a>
        
        <a href="GestionarTipoEquipo">
            <mdb-icon fas icon="project-diagram" class="prefix black-text"></mdb-icon>
            Gestionar Tipo Equipo</a>   
            
        <a href="GestionarSucursal">
            <mdb-icon fas icon="map-marker-alt" class="prefix black-text"></mdb-icon>
            Gestionar Sucursal</a>
    
        <a href="GestionarServicios">
            <mdb-icon fas icon="tools" class="prefix black-text"></mdb-icon>
            Gestionar Servicios</a>
            
        <a href="GestionarPuestos">
            <mdb-icon fas icon="briefcase" class="prefix black-text"></mdb-icon>
            Gestionar Puestos</a> 

        <a href="GestionarProductos">
            <mdb-icon fas icon="box-open" class="prefix black-text"></mdb-icon>
            Gestionar Productos</a>   
                
        <a href="GestionarInventario">
            <mdb-icon fas icon="dolly" class="prefix black-text"></mdb-icon>
            Gestionar Inventario</a>
        
        <a href="GestionarEmpleados">
            <mdb-icon fas icon="user-cog" class="prefix black-text"></mdb-icon>
            Gestionar Empleados</a>

        <a href="GeneracionPlanilla">
            <mdb-icon fas icon="hand-holding-usd" class="prefix black-text"></mdb-icon>
            Generación Planilla</a>
                
        <a href="ConfigurarGym">
            <mdb-icon fas icon="cogs" class="prefix black-text"></mdb-icon>
            Configurar Gimnasio</a>     
            
        <a class="exit" href="#" >
            <mdb-icon fas icon="sign-out-alt" class="prefix black-text"></mdb-icon>
            Cerrar Sesión</a>
    </div>
  </div>

  <div class="d-flex flex-nowrap"></div>
  <div *ngFor="let item of res1; let i = index" >
      <div class="modal.show() container" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            
            <div class="modal-header">
             
              <h5 class="modal-title"> <mdb-icon fas icon="user-circle" class="prefix white-text fa-lg"></mdb-icon> {{item.nombre}} </h5>
            </div>
            <div class="modal-body">

            <p> <mdb-icon fas icon="briefcase" class="prefix white-text fa-lg"></mdb-icon> Puesto: {{item.puesto}}</p>
            <p><mdb-icon fas icon="map-marker-alt" class="prefix white-text fa-lg"></mdb-icon> Sucursal: {{item.sucursal}}</p>
            <p> <mdb-icon fas icon="map-marked-alt" class="prefix white-text fa-lg"></mdb-icon> Direccion: {{item.direccion}}</p>
            <p> <mdb-icon fas icon="at" class="prefix white-text fa-lg" ></mdb-icon> Correo: {{item.correoElectronico}}</p>
            <p><mdb-icon fas icon="id-card" class="prefix white-text fa-lg"></mdb-icon> Número de Cédula: {{item.numCedula}}</p>
   
            </div>
          </div>
        </div>
      </div>
    </div>
